{% extends "base.html" %} 
{% load static %} 
{% block title %}Sign up{% endblock title%} 
{% block content %}
<style>
  input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
</style>
<!-- Navbar Start -->
<nav
  class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn"
  data-wow-delay="0.1s"
>
  <a
    href="{% url "index" %}"
    class="navbar-brand d-flex align-items-center px-4 px-lg-5"
  >
    <h1 class="m-0 text-primary">
      <i class="fa-solid fa-briefcase-medical"></i> Liver Fibrosis Detection
    </h1>
  </a>
  <button
    type="button"
    class="navbar-toggler me-4"
    data-bs-toggle="collapse"
    data-bs-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <a href="{% url "index" %}" class="nav-item nav-link">Home</a>
      <a href="{% url "about" %}" class="nav-item nav-link">About</a>
      <a href="{% url "contact" %}" class="nav-item nav-link">Contact</a>
      <a href="{% url "adminlogin" %}" class="nav-item nav-link">Admin Login</a>
    </div>
    <a
      href="{% url "login" %}"
      class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block"
      >LOGIN<i class="fa fa-arrow-right ms-3 wow fadeInLeft"></i
    ></a>
  </div>
</nav>
<!-- Navbar End -->

<!-- Sign Up Start -->
<div
  class="container-xxl py-5 d-flex justify-content-center align-items-center"
  style="min-height: 85vh"
>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <!-- Left Side: Sign Up Form -->
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="bg-light rounded d-flex flex-column align-items-center p-5">
          <!-- Sign Up Heading -->
          <h2 class="mb-4 text-center pt-2 pb-5">Create Account</h2>
          <form style="width: 100%" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row g-3">
              <div class="col-6">
                <p class="mt-2 black" style="color: black">Name</p>
                <input name="username"
                  type="text"
                  class="form-control border-0"
                  placeholder="Enter name"
                  style="height: 55px"
                />
              </div>
              <div class="col-6">
                <p class="mt-2 black" style="color: black">Phone no.</p>
                <input name="contact number"
                  type="number"
                  class="form-control border-0"
                  placeholder="Enter phone number"
                  style="height: 55px"
                />
              </div>
              <div class="col-6">
                <p class="mt-2 black" style="color: black">Email</p>
                <input name="email"
                  type="email"
                  class="form-control border-0"
                  placeholder="Enter Email"
                  style="height: 55px"
                  name="username"
                />
              </div>
              <div class="col-6">
                <p class="mt-2 black" style="color: black">Age</p>
                <input name="age"
                  type="number"
                  class="form-control border-0"
                  placeholder="Enter Age"
                  style="height: 55px;"
                  name="username"
                />
              </div>
              <div class="col-6">
                <p class="mt-2 black" style="color: black">Address</p>
                <input name="address"
                  type="text"
                  class="form-control border-0"
                  placeholder="Enter Address"
                  style="height: 55px"
                  name="username"
                />
              </div>
              <div class="col-6 position-relative">
                <p class="mt-2" style="color: black">Password</p>
                <input name="password"
                  type="password"
                  id="password"
                  class="form-control border-0"
                  placeholder="Create Password"
                  style="height: 55px; padding-right: 50px"
                />
                <!-- Show Password Button -->
                <button
                  type="button"
                  id="togglePassword"
                  class="btn btn-sm position-absolute"
                  style="top: 70%; right: 10px; transform: translateY(-50%)"
                >
                  Show
                </button>
              </div>
              <div class="col-lg-12 col-xl-12 mt-4">
                <div class="form-group">
                    <input type="file" class="form-control p-3" name="image" id="profile-picture" aria-label="Profile Photo" aria-describedby="basic-addon1" name="image" >
                </div>
              </div>
              <div class="col-12 mt-2">
                <button class="btn btn-primary w-100 py-3" type="submit">
                  Sign up
                </button>
              </div>
              <!-- Sign In Link -->
              <div class="col-12 text-center mt-2">
                <span>Already have an account?</span>
                <a href="{% url "login" %}" class="text-primary">Sign in</a>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Right Side: Image (Hidden on Small Screens) -->
      <div class="col-lg-6 d-none d-md-block text-center wow fadeInRight">
        <img
          src="{% static "user/img/signup.avif" %}"
          alt="Sign Up"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
    </div>
  </div>
</div>
<!-- Sign Up End -->

<!-- JavaScript for Show/Hide Password -->
<script>
  document
    .getElementById("togglePassword")
    .addEventListener("click", function () {
      var passwordField = document.getElementById("password");
      if (passwordField.type === "password") {
        passwordField.type = "text";
        this.textContent = "Hide";
      } else {
        passwordField.type = "password";
        this.textContent = "Show";
      }
    });
</script>

{% endblock content%}
