{% extends "baseadmin.html" %}
{% load static %}
{% block title %}Test Split{% endblock title%}
{% block content %}
          <!-- Test Split Section -->
          <div class="p-4">
            <div class="card">
                <h5 class="card-header text-center" style="font-size: 1.8rem; font-weight: bold;">Train Test Split</h5>
                <hr style="height: 1px; background-color: #000; border: none; margin: 0 20px;">
                <div class="p-4 d-flex flex-column align-items-center rounded shadow-sm" style="background-color: #f8f9fa; border-radius: 15px;">
                    <p style="font-size: 1.1rem; text-align: center; max-width: 80%;">
                        Train-test split is a method used in machine learning to assess a model's performance by dividing the dataset into two parts: a training set and a testing set. The training set, usually 70% of the data, is used to train the model, while the testing set, typically 30%, is reserved for evaluating how well the model performs on new, unseen data. This approach helps in preventing overfitting and provides a clear indication of how the model will generalize to real-world scenarios.
                    </p>
                    <a href="{% url "testsplitresult" %}">
                        <button class="border-0 p-3 mt-2 bg-label-primary rounded custom-button" style="font-size: 1.1rem; border-radius: 10px; cursor: pointer;" onclick="">Check Results</button>  
                    </a>
                </div>
            </div>
          </div>

{% endblock content%}